<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/boardView.css">
</head>
<body>
    <h1 th:text="${board_view.title}">제목입니다.</h1>
    <p th:text="${board_view.content}">내용</p>
    <form th:action="@{/board/{id}/delete(id=${board_view.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">글삭제</button>
    </form>
    <div>
        <a th:href="@{/board/editPage(id=${board_view.id})}" class="board_edit_btn">글 수정</a>
    </div>
</body>
</html>