<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/boardEdit.css">
</head>
<body>
    <form th:action="@{/board/{id}/edit_save(id=${boardDTO.id})}"
          th:object="${boardDTO}"
          method="post">
        <div class="layout">
            <input name="title" type="text" th:field="*{title}"/>
            <textarea name="content" th:field="*{content}">
            </textarea>
            <button type="submit">수정완료</button>
        </div>
    </form>
</body>
</html>