.layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.layout > input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.layout > textarea {
    min-height: 300px;
}